<span class="MathJax_Preview" style="color: inherit; display: none;"></span>
<span class="MathJax" id="MathJax-Element-1-Frame" tabindex="0" data-mathml="
	<math
		xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;>
		<mrow class=&quot;MJX-TeXAtom-ORD&quot;>
			<mi mathvariant=&quot;normal&quot;>L</mi>
			<mspace width=&quot;-.325em&quot; />
			<mpadded height=&quot;+.21em&quot; depth=&quot;-.21em&quot; voffset=&quot;+.21em&quot;>
				<mrow class=&quot;MJX-TeXAtom-ORD&quot;>
					<mstyle displaystyle=&quot;false&quot; scriptlevel=&quot;1&quot;>
						<mrow class=&quot;MJX-TeXAtom-ORD&quot;>
							<mi mathvariant=&quot;normal&quot;>A</mi>
						</mrow>
					</mstyle>
				</mrow>
			</mpadded>
			<mspace width=&quot;-.17em&quot; />
			<mi mathvariant=&quot;normal&quot;>T</mi>
			<mspace width=&quot;-.14em&quot; />
			<mpadded height=&quot;-.5ex&quot; depth=&quot;+.5ex&quot; voffset=&quot;-.5ex&quot;>
				<mrow class=&quot;MJX-TeXAtom-ORD&quot;>
					<mi mathvariant=&quot;normal&quot;>E</mi>
				</mrow>
			</mpadded>
			<mspace width=&quot;-.115em&quot; />
			<mi mathvariant=&quot;normal&quot;>X</mi>
		</mrow>
	</math>" role="presentation" style="position: relative;">
	<nobr aria-hidden="true">
		<span class="math" id="MathJax-Span-1" style="width: 3.02em; display: inline-block;">
			<span style="display: inline-block; position: relative; width: 2.589em; height: 0px; font-size: 116%;">
				<span style="position: absolute; clip: rect(1.35em, 1002.59em, 2.589em, -999.997em); top: -2.206em; left: 0em;">
					<span class="mrow" id="MathJax-Span-2">
						<span class="texatom" id="MathJax-Span-3">
							<span class="mrow" id="MathJax-Span-4">
								<span class="mi" id="MathJax-Span-5" style="font-family: MathJax_Main;">L</span>
								<span class="mspace" id="MathJax-Span-6" style="height: 0em; vertical-align: 0em; margin-left: -0.321em;"></span>
								<span class="mpadded" id="MathJax-Span-7">
									<span style="display: inline-block; position: relative; width: 0.541em; height: 0px;">
										<span style="position: absolute; clip: rect(3.343em, 1000.49em, 4.151em, -999.997em); top: -4.2em; left: 0em;">
											<span class="mrow" id="MathJax-Span-8">
												<span class="texatom" id="MathJax-Span-9">
													<span class="mrow" id="MathJax-Span-10">
														<span class="mstyle" id="MathJax-Span-11">
															<span class="mrow" id="MathJax-Span-12">
																<span class="texatom" id="MathJax-Span-13">
																	<span class="mrow" id="MathJax-Span-14">
																		<span class="mi" id="MathJax-Span-15" style="font-size: 70.7%; font-family: MathJax_Main;">A</span>
																	</span>
																</span>
															</span>
														</span>
													</span>
												</span>
											</span>
											<span style="display: inline-block; width: 0px; height: 3.99em;"></span>
										</span>
									</span>
								</span>
								<span class="mspace" id="MathJax-Span-16" style="height: 0em; vertical-align: 0em; margin-left: -0.159em;"></span>
								<span class="mi" id="MathJax-Span-17" style="font-family: MathJax_Main;">T</span>
								<span class="mspace" id="MathJax-Span-18" style="height: 0em; vertical-align: 0em; margin-left: -0.159em;"></span>
								<span class="mpadded" id="MathJax-Span-19">
									<span style="display: inline-block; position: relative; width: 0.703em; height: 0px;">
										<span style="position: absolute; clip: rect(3.128em, 1000.65em, 4.151em, -999.997em); top: -3.769em; left: 0em;">
											<span class="mrow" id="MathJax-Span-20">
												<span class="texatom" id="MathJax-Span-21">
													<span class="mrow" id="MathJax-Span-22">
														<span class="mi" id="MathJax-Span-23" style="font-family: MathJax_Main;">E</span>
													</span>
												</span>
											</span>
											<span style="display: inline-block; width: 0px; height: 3.99em;"></span>
										</span>
									</span>
								</span>
								<span class="mspace" id="MathJax-Span-24" style="height: 0em; vertical-align: 0em; margin-left: -0.105em;"></span>
								<span class="mi" id="MathJax-Span-25" style="font-family: MathJax_Main;">X</span>
							</span>
						</span>
					</span>
					<span style="display: inline-block; width: 0px; height: 2.212em;"></span>
				</span>
			</span>
			<span style="display: inline-block; overflow: hidden; vertical-align: -0.309em; border-left: 0px solid; width: 0px; height: 1.191em;"></span>
		</span>
	</nobr>
	<span class="MJX_Assistive_MathML" role="presentation">
		<math
			xmlns="http://www.w3.org/1998/Math/MathML">
			<mrow class="MJX-TeXAtom-ORD">
				<mi mathvariant="normal">L</mi>
				<mspace width="-.325em"></mspace>
				<mpadded height="+.21em" depth="-.21em" voffset="+.21em">
					<mrow class="MJX-TeXAtom-ORD">
						<mstyle displaystyle="false" scriptlevel="1">
							<mrow class="MJX-TeXAtom-ORD">
								<mi mathvariant="normal">A</mi>
							</mrow>
						</mstyle>
					</mrow>
				</mpadded>
				<mspace width="-.17em"></mspace>
				<mi mathvariant="normal">T</mi>
				<mspace width="-.14em"></mspace>
				<mpadded height="-.5ex" depth="+.5ex" voffset="-.5ex">
					<mrow class="MJX-TeXAtom-ORD">
						<mi mathvariant="normal">E</mi>
					</mrow>
				</mpadded>
				<mspace width="-.115em"></mspace>
				<mi mathvariant="normal">X</mi>
			</mrow>
		</math>
	</span>
</span>
<script type="math/tex" id="MathJax-Element-1">\mathrm\LaTeX</script>